.item {
    width: 350px;
}

.item p {
    margin: 6px 0;
}

.item-price {
    display: flex;
    justify-content: space-between;
    color: #374151;
    font-size: 18px;
    font-weight: 500;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.item-description {
    width: 80%;
    margin-bottom: 10px;
}

.add-to-cart {
    margin: 20px;
    text-align: center;
    width: 80%;
}

.add-to-cart button {
    padding: 10px 20px;
    width: 150px;
    font-size: 16px;
    font-weight: 500px;
    color: #000;
    background-color: lightgrey;
    margin-bottom: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}