* {
  box-sizing: border-box;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    height: 150px;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}

.footer-links li {
    cursor: pointer;
}

.footer-social {
    display: flex;
    gap: 30px;
}

.footer-icons {
    display: flex;
    float: left;
    width: 30%;
    cursor: pointer;
}

.footer-icons img {
    display: flex;
    height: 50px;
    width: 50px;
    padding: 10px;
    padding-bottom: 6px;
    background-color: #fbfbfb;
    border: 1px solid #fff;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #252525;
    font-size: 20px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

@media screen and (max-width: 480px) {
    .footer {
      margin-top: 20px; 
      width: 100%;
    }
  
    .footer-links {
      font-size: 14px; 
      gap: 15px;
    }
  
    .footer-icons img {
      height: 25px; 
      width: 25px;
      padding: 5px;
      padding-bottom: 2px;
    }
  
    .footer-copyright {
      font-size: 14px; 
      gap: 10px;
    }
  
    .footer-copyright hr {
      width: 50%; 
    }
  }

@media screen and (min-width: 481px) and (max-width: 768px) {
    .footer {
      margin-top: 40px; 
    }
  
    .footer-links {
      font-size: 16px; 
      gap: 20px;
    }
  
    .footer-icons img {
      height: 30px; 
      width: 30px; 
      padding: 6px;
      padding-bottom: 3px;
    }
  
    .footer-copyright {
      font-size: 16px; 
      gap: 15px;
    }
  
    .footer-copyright hr {
      width: 60%; 
    }
  }

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .footer {
      margin-top: 50px;
    }
  
    .footer-links {
      font-size: 18px;
      gap: 30px;
    }
  
    .footer-icons img {
      height: 40px; 
      width: 40px; 
      padding: 8px;
      padding-bottom: 4px;
    }
  
    .footer-copyright {
      font-size: 18px; 
      gap: 20px;
    }
  
    .footer-copyright hr {
      width: 70%; 
    }
  }
